@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*=========================
 Common CSS 
===========================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}

body{
    font-family: "Merriweather", serif;
}

a{
    text-decoration: none;
    color: #000000;
    transition: all 0.3s linear;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
  
.container{
    max-width: 1320px;
    width: 80%;
    margin: 0 auto;
}

.subTitle{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    font-weight: 600;
}

.btn{
    color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
}

.red__flag{
    color: #ff0000;
}

.section__title{
    font-family: "Inter", sans-serif;
    width: 60%;
    margin: 0 auto 5rem auto;
}


/*==========================
Header Section
============================*/

.header{
    margin: 3rem 0;
}

.banner{
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .subTitle,.banner .title{
    position: absolute;
}

.banner .subTitle{
    top: 20%;
    font-size: 2rem;
}

.banner .title{
    font-size: 5rem;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    border-radius: 14px;
}

/*==========================
Categories Section
============================*/

.categories{
    padding: 3rem 0;
}

.categories__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__title{
    font-family: "Inter", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #ff0000;
    margin-bottom: 2rem;
}

.categories .subTitle{
    font-family: "Inter", sans-serif;
    color: #ff0000;
    font-size: 1.5rem;
}

.categories .title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 5rem;
}

/*==========================
Welcome Section
============================*/
.welcome{
    padding: 5rem 0;
}

.welcome__banner{
    position: relative;
}

.welcome__banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    border-radius: 14px;
}

.welcome__banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/banner/twentyFour.png");
    background-repeat: no-repeat;
    top: 10%;
    left: 65%;
}

.welcome__content{
    position: absolute;
    top: 25%;
    width: 50%;
    color: #ffffff;
    margin-left: 5rem;
}

.welcome__content .title, .welcome__content .welcome__description{
    margin-bottom: 2rem;
}

.welcome__link{
    background-color: #d0a64b;
    text-transform: uppercase;
}

/*==========================
Event Section
============================*/

.event{
    padding: 5rem 0;
}

.event__content{
    position:relative;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event__content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0,10%), rgba(255, 0, 0, 0%));
    border-radius: 14px;
}

.event__link{
    background-color: #ff0000;
    margin-top: 3rem;
    text-transform: uppercase;
}

/*==========================
ComingSoon Section
============================*/

.comingSoon{
    padding: 5rem 0;
}

.comingSoon__content{
    display: flex;
    gap: 5rem;
    font-family: "Inter", sans-serif;
}

.comingSoon__offer, .comingSoon__img, .comingSoon__2024{
    width: 33.33%; 
}

.comingSoon__offer .title, .comingSoon__2024 .title, .comingSoon__2024 p{
    margin-bottom: 2rem;
}

.comingSoon__img img{
    border: 10px solid #ff0000;
    border-radius: 50%;
    padding: 1.5rem;
}

/*==========================
Holidays Section
============================*/

.holidays{
    padding: 5rem 0;
}

.section__title--holidays{
    text-align: center;
}

.section__title .subTitle{
    text-transform: uppercase;
}

.section__title .title{
    margin: 2rem 0;
}

.holidays__content{
    display: flex;
    justify-content:flex-end;
    position: relative;
}

.holidays__content::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/discount_offer/discount.png");
    background-repeat: no-repeat;
    top: 15%;
    left: 55%;
}

.holidays__img{
    position: absolute;
    left: 7rem;
    top: 5rem;
    width: 45%;
}

.holidays__red{
    background-color: #ff0000;
    width: 100%;
    height: 150px;
    border-radius: 14px 0 14px 14px;
}

/*==========================
Portfolio Section
============================*/

.portfolio{
    padding: 5rem 0;
}

.section__title--portfolio{
    margin: 0 0 5rem 0;
}

.section__title .subTitle{
    text-transform: uppercase;
}

.section__title .title{
    margin: 2rem 0;
}

.portfolio__content{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
}

.portfolio__single{
    border: 1px solid #dddddd;
    padding: 3px;
    border-radius: 15px;
    transition: all 0.3s linear;
}

.portfolio__single:hover{
    border: 1px solid #ff0000;
}

.portfolio__img{
    border-radius: 15px;
    overflow: hidden;
}

.portfolio__img img{
    width: 100%;
    transition: all 0.3s linear;
}

.portfolio__img img:hover{
  transform: scale(1.4);
}

/*==========================
Subscribe Section
============================*/

.subscribe{
    padding: 5rem 0;
}

.subscribe__content{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.subscribe__content h2{
    margin: 2rem 0;
}

.subscribe__form{
    width: 100%;
    display: flex;
    margin: 2rem 0 0 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.subscribe__input{
    width: 75%;
    padding: 1rem;
    border: 1px solid #ff0000;
    border-radius: 30px 0 0 30px;
}

.subscribe__input::placeholder {
  color: #aaaaaa;
  font-size: 1rem;
}

.subscribe__btn{
    width: 25%;
    font-size: 1rem;
    background-color: #ff0000;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: all .3s linear;
}

.subscribe__btn:hover {
  background: #bb1322;
}
